@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Condensed:wght@300&display=swap');

@import './queries.scss';

@import './flexprops.scss';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-basis: 1400px;
    margin: 0 auto;
}

/* Header */


.section-1 {
    display: flex;
    background-image: url('/resources/images/mobile/image-hero.jpg');
    background-size: cover;
    height: 100vh;

    .responsive {
        display: flex;
        @include flexDirection(column);
        margin: 0 auto;

        .nav-elements {
            .navbar {
                padding-top: 50px;
                background: transparent !important;

                a {
                    color: #fff !important;
                }
            }

            .fa-bars {
                color: #fff !important;
                border: none !important;
                outline: none !important;
                font-size: 32px;
            }

            .navbar-brand {
                @include flex-x-position(start);
                font-family: 'Fredoka One', cursive;
                font-weight: 400;
                color: #fff !important;
                font-size: 32px;
                justify-content: space-between;

                .collapse {
                    justify-content: space-between;
                    justify-content: end;
                }
            }
        }

        .hero-text {
            margin-top: 45%;
            display: flex;
            @include flex-x-position(center);
            @include flex-y-position(center);
            border: 1px solid rgb(255, 255, 255);

            width: 320px;

            p {
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                letter-spacing: 8px;
                font-size: 40px;
                line-height: 50px;
                padding: 40px 30px;
                color: rgb(255, 255, 255);

            }

        }
    }

    /* media queries */
}

.section-2 {
    .interactive-container {
        display: flex;
        @include flexDirection(column);
        margin: 100px auto;
        background-color: #fff;

        img {
            content: url('/resources/images/mobile/image-interactive.jpg');
            width: 100%;
        }

        .interactive-container-2 {
            display: flex;
            @include flexDirection(column);
            @include flex-x-position(center);

            h1 {
                font-size: 30px;
                text-transform: uppercase;
                padding: 40px 10px;
                letter-spacing: 5px;
                line-height: 40px;
                text-align: center;
            }

            p {
                color: rgb(88, 88, 88);
                text-align: center;
                padding-bottom: 30px;
                letter-spacing: 2px;
                line-height: 30px;
            }
        }

    }
}


.creations {

    margin: 100px auto;
    background-color: #fff;
    margin: 20px;

    .desktop-only {
        display: none;
    }


    .creations-item-button {
        h1 {

            font-size: 30px;
            text-transform: uppercase;
            padding-bottom: 40px;
            letter-spacing: 5px;
            line-height: 40px;
            text-align: center;
        }
    }

    .creations-list {

        display: flex;
        @include flexDirection(column);
        @include flex-x-position(center);
        @include flex-y-position(center);


        img {
            width: 100%;
        }

        .creations-item-2 {
            position: relative;
            margin: 15px auto;
        }

        .creations-items-2__image__title {
            position: absolute;
            bottom: 8px;
            left: 16px;
            width: 30%;

            p {
                text-transform: uppercase;
                font-size: 18px;
                color: #fff;
            }

        }

    }

    .btn-1 {

        margin-top: 40px;
        margin-bottom: 100px;
        width: 150px;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        text-transform: uppercase;
        letter-spacing: 4px;

        &:hover {
            background-color: black;
            color: #fff;
        }
    }
}

footer {

    .footer-items {

        background-color: black;
        display: flex;

        @include flexDirection(column);
        @include flex-x-position(center);

        .footer-icons {
            display: flex;
            font-size: 24px;
            color: #fff;
            order: 3;

        }

        .footer-icons-desktop-only {
            display: none;
            color: red;
        }

        .footer-items-logo {

            p {
                text-align: center;
                font-family: 'Fredoka One', cursive;
                font-weight: 400;
                color: #fff;
                font-size: 32px;
                padding-top: 60px;
                padding-bottom: 30px;
            }
        }

        .footer-links {
            // background-color: red;
            display: flex;
            @include flexDirection(column);
            @include flex-x-position(center);
            margin-bottom: 50px;
            text-align: center;

            .footer-link-items {
                margin: 0 auto;

                width: 30%;

                a {
                    color: #fff !important;
                    text-decoration: none;
                    font-size: 24px;
                    line-height: 50px;
                }
            }

        }

        .footer-icons-copyright {
            @include flexDirection(column);
            @include flex-x-position(center);


            .footer-icons-mobile-only {
                display: flex;
                justify-content: space-evenly;

                .fab {
                    padding-top: 40px;
                    padding-bottom: 30px;
                    color: rgb(255, 255, 255);
                    font-size: 32px;
                    margin-left: 10px;
                    text-align: center;
                }
            }
        }

        .footer-copyright {
            @include flex-x-position(center);
            width: 300px;
            margin: 0 auto;


            text-align: center;

            // background-color: rgb(41, 107, 16);
            p {
                text-align: center;
                font-size: 16px;
                color: rgb(88, 88, 88);
            }
        }
    }
}