@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alata', sans-serif;
    width: 100vw;
    position: relative;
}

html {
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: hidden !important;
    width: 100vw;
}


.container {
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}

header {
    background-image: url('/resources/images/desktop/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;

    .brand-title {
        background-image: url('/resources/images/logo.svg');
        width: 300px;
        height: 40px;
        background-repeat: no-repeat;
        position: relative;
    }

    .burger {
        display: none;
    }

    .nav-links {

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin-left: 50px;
            font-size: 15px;
            line-height: 25px;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #fff;

        }

        .link::after {
            content: '';
            position: absolute;
            display: block;
            margin-top: 5px;
            width: 0;
            height: 3px;
            background: #fff;
            transition: width .3s;
            -webkit-transition: width .3s;
            -moz-transition: width .3s;
            -ms-transition: width .3s;
            -o-transition: width .3s;
        }

        .link:hover::after {
            width: 100%;
            transition: width .5s;
            -webkit-transition: width .5s;
            -moz-transition: width .5s;
            -ms-transition: width .5s;
            -o-transition: width .5s;
        }

    }

}

.hero-text {
    margin-top: 200px;
    width: 700px;
    height: 278px;
    border: 2px solid #fff;
 

    p {
        font-size: 72px;
        padding: 40px;
        line-height: 70px;
        font-weight: 300;
        color: #fff;
        font-style: normal;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }
}

//section 2 - intro text design
// ----------------------------------------------------------------


.intro {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 680px;
}

.intro-img {
    grid-column: 1 / 4;
    display: flex;
    background-image: url('/resources/images/desktop/image-interactive.jpg');
    width: 731px;
    height: 500px;
    justify-content: center;
    align-self: flex-end;
}

.intro-img,
.title-container {
    grid-row: 1 / 2;
}

.title-container {
    grid-column: 4 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 541px;
    height: 350px;
    background-color: #fff;
    align-self: flex-end;

    .text {
        display: flex;
        flex-direction: column;
        width: 445px;
        height: 250px;
    }
}

.title {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.title-content {
    line-height: 25px;
    color: #000;
    opacity: 0.5;
    padding-top: 25px;
    text-align: left;

    p {
        text-align: left;
    }
}


//section 3 - image creations
// ----------------------------------------------------------------

.creations {
    padding-top: 164px;
    display: flex;
    justify-content: space-between;

}

.creations-title {
    p {
        font-size: 48px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }
}

button {
    width: 157px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #fff;

    &:hover {
        background-color: black;
        color: #fff;
    }


    a {
        text-decoration: none;
        color: black;
    }
}

.creations-img {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 10px;
    column-gap: 20px;
    row-gap: 30px;
    padding-top: 80px;
    grid-auto-flow: column;

}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8 {

    position: relative;
    margin: 0 auto;
    width: 256px;
    height: 450px;
    -moz-text-align-last: left;
    text-align-last: left;
    background-repeat: no-repeat;
    justify-content: space-around;

    p {

        width: 70%;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 32px;
        font-size: 32px;
        top: 80%;
        left: 8%;
        font-weight: 300;
        z-index: 3;
    }

    &:hover {
        cursor: pointer;
        background-image: none;
        background-color: rgba(206, 206, 206, .8);
        transition: .5s ease;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;

        p {
            color: black;
        }
    }
}

.img-1 {
    background-image: url('/resources/images/desktop/image-deep-earth.jpg');

}

.img-2 {
    background-image: url('/resources/images/desktop/image-night-arcade.jpg');
}

.img-3 {
    background-image: url('/resources/images/desktop/image-soccer-team.jpg');
}

.img-4 {
    background-image: url('/resources/images/desktop/image-grid.jpg');
}

.img-5 {
    background-image: url('/resources/images/desktop/image-from-above.jpg');

}

.img-6 {
    background-image: url('/resources/images/desktop/image-pocket-borealis.jpg');
}

.img-7 {
    background-image: url('/resources/images/desktop/image-curiosity.jpg');
}

.img-8 {
    background-image: url('/resources/images/desktop/image-fisheye.jpg');
}


.creations-mobile-cta {
    display: none;
}

// --------------------------------------------------------------------

//section 4 - footer

footer {
    margin-top: 184px;
    background-color: black;
    height: 160px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
}

.footer-left-items {
    display: flex;
    flex-direction: column;

}

.footer-logo {
    background-image: url('/resources/images/logo.svg');
    width: 300px;
    height: 40px;
    background-repeat: no-repeat;

}

.footer-text-links {
    display: flex;
    margin-right: 5%;

    a {
        position: relative;
        padding-top: 24px;
        color: #fff;
        text-decoration: none;
    }

    .link::after {
        content: '';
        position: absolute;
        display: block;
        margin-top: 5px;
        width: 0;
        height: 3px;
        background: #fff;
        transition: width .3s;
        -webkit-transition: width .3s;
        -moz-transition: width .3s;
        -ms-transition: width .3s;
        -o-transition: width .3s;
    }

    .link:hover::after {
        width: 100%;
        transition: width .5s;
        -webkit-transition: width .5s;
        -moz-transition: width .5s;
        -ms-transition: width .5s;
        -o-transition: width .5s;
    }
}

.footer-right-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    .footer-icons {
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-self: flex-end;

        .fab {
            color: white;
            font-size: 32px;
            padding-left: 25px;
        }
    }

    .footer-copyright {
        padding-top: 24px;
        width: 100%;
        color: #fff;
        opacity: 0.5;
    }
}


// ----------------------------------------------------------------

@media screen and (max-width: 768px) {

    body {
        margin: 0 auto;
        overflow-x: hidden;
    }

    header {
        background-image: url('/resources/images/mobile/image-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .container {
        width: 100%;
    }

    .navbar {
        margin: 0 auto;
        width: 85%;
        flex-direction: row;
        align-items: flex-start;

        .burger {
            display: inline-block;
            cursor: pointer;
        }

    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;

        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in;
        -moz-transition: transform 0.5s ease-in;
        -ms-transition: transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links {
        li:hover {
            background-color: rgba(240, 226, 30, 0.5);
        }
    }

    .nav-active {
        transform: translateX(0%);
    }


    .line1,
    .line2,
    .line3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .toggle-close .line1 {
        background-color: #fff;
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .toggle-close .line2 {
        opacity: 0;
        background-color: #fff;
    }

    .toggle-close .line3 {
        transform: rotate(45deg) translate(-8px, -8px);
        -moz-transform: rotate(45deg) translate(-8px, -8px);
        -ms-transform: rotate(45deg) translate(-8px, -8px);
        -o-transform: rotate(45deg) translate(-8px, -8px);
    }


    @-webkit-keyframes menuSlide {
        from {
            opacity: 0;
            transform: translateX(50px);
            -webkit-transform: translateX(50px);
            -moz-transform: translateX(50px);
            -ms-transform: translateX(50px);
            -o-transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }


    @keyframes menuSlide {

        from {
            opacity: 0;
            transform: translateX(50px);
            -webkit-transform: translateX(50px);
            -moz-transform: translateX(50px);
            -ms-transform: translateX(50px);
            -o-transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }

    .nav-links ul {
        margin-top: 18vh;
        width: 85%;
        flex-direction: column;

        li {
            display: block;
            padding: 30px 0;
            text-align: center;

            a {
                text-transform: uppercase;              
            }
        }
    }

    .hero-text {
        margin: 0 auto;
        margin-top: 45%;
        width: 85%;
        height: 196px;
        border: 2px solid #fff;

        p {
            font-size: 40px;
            padding: 24px;
            line-height: 38px;
            font-weight: 300;
            color: #fff;
            font-style: normal;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
        }
    }

    // ------------------------------------------------

    .intro {
        padding-top: 96px;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-items: center;

        .intro-img {
            margin: 0 auto;
            background-image: url('/resources/images/mobile/image-interactive.jpg');
            background-repeat: no-repeat;
            width: 100%;
        }

        .title-container {
            width: 85%;
            margin: 0 auto;
            text-align: center;

            .title {
                padding-top: 48px;
                font-size: 32px;
            }
        }
    }

    // ------------------------------------------------

    .creations {
        .creations-desktop-cta {
            display: none;
        }

        width: 85%;
        display: flex;
        flex-direction: column;

        .creations-title {
            margin: 0 auto;

            p {
                font-size: 32px;
            }
        }
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7,
    .img-8 {
        margin-top: 20px;
        width: 100%;
        height: 120px;

        &:hover {
            cursor: pointer;
            opacity: 0.3;

            p {
                color: black;
            }
        }

        p {

            width: 40%;
            position: relative;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 32px;
            font-size: 20px;
            top: 30%;
            left: 8%;
            font-weight: 300;
            z-index: 3;
        }
    }

    .creations-img {
        padding-top: 42px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 85%;

        .img-1 {
            background-image: url('/resources/images/mobile/image-deep-earth.jpg');
        }

        .img-2 {
            background-image: url('/resources/images/mobile/image-night-arcade.jpg');
        }

        .img-3 {
            background-image: url('/resources/images/mobile/image-soccer-team.jpg');
        }

        .img-4 {
            background-image: url('/resources/images/mobile/image-grid.jpg');
        }

        .img-5 {
            background-image: url('/resources/images/mobile/image-from-above.jpg');

        }

        .img-6 {
            background-image: url('/resources/images/mobile/image-pocket-borealis.jpg');
        }

        .img-7 {
            background-image: url('/resources/images/mobile/image-curiosity.jpg');
        }

        .img-8 {
            background-image: url('/resources/images/mobile/image-fisheye.jpg');
        }
    }

    .creations-mobile-cta {
        width: 157px;
        height: 40px;
        border: 1px solid black;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        background-color: #fff;

        &:hover {
            background-color: black;
            color: #fff;
            cursor: pointer;
        }
    }

    // --------------------------------------------------------------------

    //section 4 - footer

    footer {

        margin: 0 auto;
        width: 100%;
        height: 500px;
    }

    .footer-logo {
        margin: 0 20%;
    }

    .footer-content {
        margin: 0 auto;
        text-align: center;
        margin-top: 96px;
        width: 85%;
        display: flex;
        flex-direction: column;

    }

    .footer-text-links {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .footer-icons {
        margin: 0 auto;

        .fab {
            padding-top: 48px;
            font-size: 32px;

            &:hover {
                color: rgb(240, 226, 30);
            }
        }

    }

    .footer-copyright {
        padding-bottom: 56px;
    }

}

@media screen and (max-width: 320px) {
    .hero-text {

        p {
            font-size: 35px;
        }
       
    }
}


@media screen and (min-width: 768px) {

    .container {
        width: 90%;
    }

    .navbar {
        width: 100%;
    }

    .link {
        padding-right: 15px;
    }

    .hero-text {
        margin-left: 0;
        align-self: flex-start;
        width: 70%;
        height: 240px;

        p {
            font-size: 60px;
            line-height: 60px;
        }
    }

    .title-container,
    .title,
    .title-container {
        margin: 0 auto;
        width: 90%;
        text-align: left;
    }

    .footer-content {
        width: 90%;
    }

    @media screen and (width: 768px) and(height: 1024px) {

    .footer-logo {
        background-position: center;
        margin: 0 auto;
    }
    }

}

@media screen and (min-width: 1280px) {

    body {
        position: static;
    }

    .container {
        width: 80%;
    }

    .hero-text {
        width: 70%;
        margin-left: 0;
    }



    .footer-content {
        width: 85%;
    }

    .footer-text-links {

        a {
            margin-right: 10%;
        }
    }

    .fab:hover {
        color: rgb(240, 226, 30);
    }

}


@media screen and (min-width: 1400px) {

    .container {
        width: 70%;
    }

    .title-content {
        padding-left: 25px;
    }

    .hero-text {
        width: 70%;
    }

}


@media screen and (min-width: 1920px) {
    .container {
        width: 55%;
    }

    .hero-text {
        width: 65%;
    }

    
}


@media screen and (min-width: 2500px) {
    .container {
        width: 40%;
    }

    .hero-text {
        width: 65%;
    }

    
}

@media screen and (min-width: 2800px) {
    .container {
        width: 35%;
    }

    .hero-text {
        width: 70%;
    }
}