@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata', sans-serif;
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-image: url("/resources/images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.navbar .brand-title {
  background-image: url("/resources/images/logo.svg");
  width: 300px;
  height: 40px;
  background-repeat: no-repeat;
  position: relative;
}

.navbar .burger {
  display: none;
}

.navbar .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-links li {
  list-style: none;
  margin-left: 50px;
  font-size: 15px;
  line-height: 25px;
}

.navbar .nav-links a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.navbar .nav-links a:hover {
  color: #f0e21e;
}

.hero-text {
  margin-top: 200px;
  width: 700px;
  height: 278px;
  border: 2px solid #fff;
}

.hero-text p {
  font-size: 72px;
  padding: 40px;
  line-height: 70px;
  font-weight: 300;
  color: #fff;
  font-style: normal;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.intro {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  height: 680px;
}

.intro-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/resources/images/desktop/image-interactive.jpg");
  width: 731px;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro-img,
.title-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.title-container {
  grid-column: 4 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 541px;
  height: 350px;
  background-color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.title-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 445px;
  height: 250px;
}

.title {
  font-size: 48px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.title-content {
  line-height: 25px;
  color: #000;
  opacity: 0.5;
  padding-top: 25px;
}

.title-content p {
  text-align: left;
}

.creations {
  padding-top: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creations-title p {
  font-size: 48px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

button {
  width: 157px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
}

button:hover {
  background-color: black;
  color: #fff;
}

button a {
  text-decoration: none;
  color: black;
}

.creations-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  padding-top: 80px;
  grid-auto-flow: column;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8 {
  position: relative;
  margin: 0 auto;
  width: 256px;
  height: 450px;
  text-align-last: left;
  background-repeat: no-repeat;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover,
.img-5:hover,
.img-6:hover,
.img-7:hover,
.img-8:hover {
  cursor: pointer;
}

.img-1:hover p,
.img-2:hover p,
.img-3:hover p,
.img-4:hover p,
.img-5:hover p,
.img-6:hover p,
.img-7:hover p,
.img-8:hover p {
  color: black;
}

.img-1 p,
.img-2 p,
.img-3 p,
.img-4 p,
.img-5 p,
.img-6 p,
.img-7 p,
.img-8 p {
  width: 70%;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 32px;
  font-size: 32px;
  top: 80%;
  left: 8%;
  font-weight: 300;
  z-index: 3;
}

.img-1 {
  background-image: url("/resources/images/desktop/image-deep-earth.jpg");
}

.img-2 {
  background-image: url("/resources/images/desktop/image-night-arcade.jpg");
}

.img-3 {
  background-image: url("/resources/images/desktop/image-soccer-team.jpg");
}

.img-4 {
  background-image: url("/resources/images/desktop/image-grid.jpg");
}

.img-5 {
  background-image: url("/resources/images/desktop/image-from-above.jpg");
}

.img-6 {
  background-image: url("/resources/images/desktop/image-pocket-borealis.jpg");
}

.img-7 {
  background-image: url("/resources/images/desktop/image-curiosity.jpg");
}

.img-8 {
  background-image: url("/resources/images/desktop/image-fisheye.jpg");
}

.creations-mobile-cta {
  display: none;
}

footer {
  margin-top: 184px;
  background-color: black;
  height: 160px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
}

.footer-left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo {
  background-image: url("/resources/images/logo.svg");
  width: 300px;
  height: 40px;
  background-repeat: no-repeat;
}

.footer-text-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
}

.footer-text-links a {
  position: relative;
  padding-top: 24px;
  color: #fff;
  text-decoration: none;
}

.footer-text-links a:hover {
  color: #f0e21e;
}

.footer-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-right-items .footer-icons {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: flex-end;
}

.footer-right-items .footer-icons .fab {
  color: white;
  font-size: 32px;
  padding-left: 25px;
}

.footer-right-items .footer-copyright {
  padding-top: 24px;
  width: 100%;
  color: #fff;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 auto;
    overflow-x: hidden;
  }
  header {
    background-image: url("/resources/images/mobile/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .container {
    width: 100%;
  }
  .navbar {
    margin: 0 auto;
    width: 85%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .burger div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .navbar .burger {
    display: block;
    position: relative;
  }
  .navbar .burger:hover {
    cursor: pointer;
    color: #f0e21e;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:hover {
    background-color: rgba(240, 226, 30, 0.5);
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .toggle-close .line1 {
    transform: rotate(-45deg) translate(-5px, 11px);
    -webkit-transform: rotate(-45deg) translate(-5px, 11px);
    -moz-transform: rotate(-45deg) translate(-5px, 11px);
    -ms-transform: rotate(-45deg) translate(-5px, 11px);
    -o-transform: rotate(-45deg) translate(-5px, 11px);
  }
  .toggle-close .line2 {
    opacity: 0;
  }
  .toggle-close .line3 {
    transform: rotate(45deg) translate(-5px, -12px);
    -webkit-transform: rotate(45deg) translate(-5px, -12px);
    -moz-transform: rotate(45deg) translate(-5px, -12px);
    -ms-transform: rotate(45deg) translate(-5px, -12px);
    -o-transform: rotate(45deg) translate(-5px, -12px);
  }
  @-webkit-keyframes menuSlide {
    from {
      opacity: 0;
      transform: translateX(50px);
      -webkit-transform: translateX(50px);
      -moz-transform: translateX(50px);
      -ms-transform: translateX(50px);
      -o-transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  @keyframes menuSlide {
    from {
      opacity: 0;
      transform: translateX(50px);
      -webkit-transform: translateX(50px);
      -moz-transform: translateX(50px);
      -ms-transform: translateX(50px);
      -o-transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  .nav-links ul {
    margin-top: 18vh;
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links ul li {
    display: block;
    padding: 38px 0;
    text-align: center;
    background-color: #292929;
    border: 1px solid rgba(77, 77, 77, 0.4);
  }
  .nav-links ul li a {
    text-transform: uppercase;
  }
  .hero-text {
    margin: 0 auto;
    margin-top: 45%;
    width: 85%;
    height: 196px;
    border: 2px solid #fff;
  }
  .hero-text p {
    font-size: 40px;
    padding: 24px;
    line-height: 38px;
    font-weight: 300;
    color: #fff;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
  }
  .intro {
    padding-top: 96px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .intro .intro-img {
    margin: 0 auto;
    background-image: url("/resources/images/mobile/image-interactive.jpg");
    background-repeat: no-repeat;
    width: 100%;
  }
  .intro .title-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  .intro .title-container .title {
    padding-top: 48px;
    font-size: 32px;
  }
  .creations {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .creations .creations-desktop-cta {
    display: none;
  }
  .creations .creations-title {
    margin: 0 auto;
  }
  .creations .creations-title p {
    font-size: 32px;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8 {
    margin-top: 20px;
    width: 100%;
    height: 120px;
  }
  .img-1:hover,
  .img-2:hover,
  .img-3:hover,
  .img-4:hover,
  .img-5:hover,
  .img-6:hover,
  .img-7:hover,
  .img-8:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  .img-1:hover p,
  .img-2:hover p,
  .img-3:hover p,
  .img-4:hover p,
  .img-5:hover p,
  .img-6:hover p,
  .img-7:hover p,
  .img-8:hover p {
    color: black;
  }
  .img-1 p,
  .img-2 p,
  .img-3 p,
  .img-4 p,
  .img-5 p,
  .img-6 p,
  .img-7 p,
  .img-8 p {
    width: 40%;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 32px;
    font-size: 20px;
    top: 30%;
    left: 8%;
    font-weight: 300;
    z-index: 3;
  }
  .creations-img {
    padding-top: 42px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .creations-img .img-1 {
    background-image: url("/resources/images/mobile/image-deep-earth.jpg");
  }
  .creations-img .img-2 {
    background-image: url("/resources/images/mobile/image-night-arcade.jpg");
  }
  .creations-img .img-3 {
    background-image: url("/resources/images/mobile/image-soccer-team.jpg");
  }
  .creations-img .img-4 {
    background-image: url("/resources/images/mobile/image-grid.jpg");
  }
  .creations-img .img-5 {
    background-image: url("/resources/images/mobile/image-from-above.jpg");
  }
  .creations-img .img-6 {
    background-image: url("/resources/images/mobile/image-pocket-borealis.jpg");
  }
  .creations-img .img-7 {
    background-image: url("/resources/images/mobile/image-curiosity.jpg");
  }
  .creations-img .img-8 {
    background-image: url("/resources/images/mobile/image-fisheye.jpg");
  }
  .creations-mobile-cta {
    width: 157px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #fff;
  }
  .creations-mobile-cta:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  footer {
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
  .footer-logo {
    margin: 0 20%;
  }
  .footer-content {
    margin: 0 auto;
    text-align: center;
    margin-top: 96px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-text-links {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-icons {
    margin: 0 auto;
  }
  .footer-icons .fab {
    padding-top: 48px;
    font-size: 32px;
  }
  .footer-icons .fab:hover {
    color: #f0e21e;
  }
  .footer-copyright {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 80%;
  }
  .navbar {
    width: 100%;
  }
  .hero-text {
    margin-left: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 80%;
    height: 240px;
  }
  .hero-text p {
    font-size: 60px;
    line-height: 60px;
  }
  .title-container,
  .title,
  .title-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  .footer-content {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 85%;
  }
  .hero-text {
    width: 80%;
    margin-left: 0;
  }
  .footer-content {
    width: 85%;
  }
  .footer-text-links a {
    margin-right: 10%;
  }
  .fab:hover {
    color: #f0e21e;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 60%;
  }
  .hero-text {
    width: 60%;
  }
}
/*# sourceMappingURL=styles.css.map */